PORT=8080
DB_CONN=mongodb+srv://username:password@uri/tiktok?retryWrites=true&w=majority
encKey=SOME_32BYTE_BASE64_STRING // openssl rand -base64 32;
sigKey=SOME_64BYTE_BASE64_STRING // openssl rand -base64 64;
